@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

body {
	font-family: Roboto, Garamond, "Times New Roman";
	background-color: #004643;
	font-size: 14px;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	text-align: center;
	font-family: "Playfair Display", Garamond, "Times New Roman";
	font-weight: normal;
	font-size: 50px;
	color: white;
}

h2 {
	text-align: center;
	font-family: "Playfair Display", Garamond, "Times New Roman";
	font-weight: normal;
	font-size: 25px;
}

nav {
	position: fixed;
	top: 0;
	left: 0; /* explicitly align it to the left edge */
	width: 100%;
	background-color: #abd1c6;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
	box-sizing: border-box; /* ensures padding doesn't affect width */
}

nav a {
	color: black;
	text-decoration: none;
	padding: 8px;
	border-right: 1px solid #12412f;
	display: block;
	font-weight: bold;
}

nav a:last-child {
	border-right: none;
}

nav a:hover:not(.active), nav .active {
	color: #4b5d80;
	text-decoration: none;
}





/* Project grid */
.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	gap: 5px;
	padding: 10px;
	align: center;
	text-align: center;
	overflow: auto;
}

.grid-boxes {
	text-align: center;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #abd1c6;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close {
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
    }

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.block {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	background-color: #004643;
	color: white;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	padding: 10px;
	font-family: Roboto;	
}

.block:hover {
  background-color: #85a16b;
  color: black;
}


/* Links */
.lit-link:link, .lit-link:visited {
  color: black;
  text-decoration: none;
}

.lit-link:hover, .lit-link:active {
  color: black;
  text-decoration: underline;
}


/* Padlet links*/ 
a.padlet:link, a.padlet:visited {
	background-color: teal;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a.padlet:hover, a.padlet:active {
	color: black;
}


.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.grid2 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	width: 100%;
}

.grid2-box {
	width: 100%;      /* Fill the grid cell */
	height: auto;     /* Maintain aspect ratio */
	display: block;   /* Remove inline spacing */
}


.textbox {
	padding: 0px 5% 5px 5%;
	color: white;
}


footer {
	position: static;
	bottom: 0;
	left: 0; 
	width: 100%;
	font-size:10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
	box-sizing: border-box;
	border-top: 1px solid #abd1c6;
}

	
footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	text-decoration:underline;
}
